<div>
    <p>
        {{localize "CHEX.PAINTBUCKET.ConfirmMessage" hexCount=hexCount fromTerrain=fromTerrain toTerrain=toTerrain startHex=startHex}}
    </p>
    <p class="chex-preview-note">
        {{localize "CHEX.PAINTBUCKET.PreviewNote"}}
    </p>
    <div class="chex-button-row">
        <button data-action="confirm">{{localize "CHEX.PAINTBUCKET.Confirm"}}</button>
        <button type="button" data-action="cancel">{{localize "CHEX.PAINTBUCKET.Cancel"}}</button>
    </div>
</div>